<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>Title</title>
  </head>
  <style type="text/css">
    .content {
      max-width: 500px;
      margin: auto;
      padding: 10px;
    }

    .board_for_read {
      width: 100%;
      background-color: #f1f1f1;
    }

    #title {
      height: 32px;
      width: 100%;
      border-radius: 0.5em;
      border: none;
      font-family: inherit;
      font-size: inherit;
    }

    textarea {
      width: 100%;
      font-family: inherit;
      font-size: 100%;
      resize: none;
      border-radius: 0.5em;
      padding-block: 10px;
      border: 0px;
    }

    .td_title {
      background-color: #d8d8d8;
    }
  </style>
  <body>
    <div class="content">
      {% if shipping %}
      <form action="{% url 'shippingSave' shipping.id%}" method="post">
      {% else %}
      <form action="{% url 'shippingSave' 0%}" method="post">
      {% endif %}
        {% csrf_token %}

        <div style="text-align: right; padding: 5px">
          <input type="submit" value="저장" />
        </div>

        <table class="shipping_for_read">
          <tbody>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                제목
              </td>
              <td style="padding: 10px">
                <input type="text" name="title" value="{{ shipping.title }}" />
              </td>
            </tr>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                템플릿코드
              </td>
              <td style="padding: 10px">
                <input
                  type="number"
                  name="cost_template_code"
                  value="{{ shipping.cost_template_code }}"
                />
              </td>
            </tr>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                택배 타입
              </td>
              <td style="padding: 10px">
                <select name="type">
                  <option value="none">===선택===</option>
                  <option value="택배/소포/등기">택배/소포/등기</option>
                  <option value="직접배송">직접배송</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                택배사
              </td>
              <td style="padding: 10px">
                <select name="courier_code">
                  <option value="none">===선택===</option>
                  <option value="CJGLS">CJ대한통운</option>
                  <option value="HYUNDAI">롯데택배</option>
                  <option value="HANJIN">한진택배</option>
                  <option value="KGB">로젠택배</option>
                  <option value="EPOST">우체국택배</option>
                  <option value="1004HOME">1004HOME</option>
                  <option value="TWOFASTEXPRESS">2FAST익스프레스</option>
                  <option value="ACE">ACEexpress</option>
                  <option value="ACIEXPRESS">ACI</option>
                  <option value="ADCAIR">ADC항운택배</option>
                  <option value="AIRWAY">AIRWAY익스프레스</option>
                  <option value="APEX">APEX</option>
                  <option value="AIRBOY">AirboyExpress</option>
                  <option value="KOREXG">CJ대한통운(국제택배)</option>
                  <option value="CUPARCEL">CU편의점택배</option>
                  <option value="CWAYEXPRESS">CwayExpress</option>
                  <option value="DHL">DHL</option>
                  <option value="DHLDE">DHL(독일)</option>
                  <option value="DHLGLOBALMAIL">DHLGlobalMail</option>
                  <option value="DPD">DPD</option>
                  <option value="ECMSEXPRESS">ECMSExpress</option>
                  <option value="EFS">EFS</option>
                  <option value="EMS">EMS</option>
                  <option value="EZUSA">EZUSA</option>
                  <option value="EUROPARCEL">EuroParcel</option>
                  <option value="FEDEX">FEDEX</option>
                  <option value="GOP">GOP당일택배</option>
                  <option value="GOS">GOS당일택배</option>
                  <option value="GPSLOGIX">GPSLOGIX</option>
                  <option value="GSFRESH">GSFresh</option>
                  <option value="GSIEXPRESS">GSI익스프레스</option>
                  <option value="GSMNTON">GSMNTON</option>
                  <option value="GSPOSTBOX">GSPostbox퀵</option>
                  <option value="CVSNET">GSPostbox택배</option>
                  <option value="GTSLOGIS">GTS로지스</option>
                  <option value="HYBRID">HI택배</option>
                  <option value="IK">IK물류</option>
                  <option value="KGLNET">KGL네트웍스</option>
                  <option value="LGE">LG전자배송센터</option>
                  <option value="LTL">LTL</option>
                  <option value="NDEXKOREA">NDEX KOREA</option>
                  <option value="SBGLS">SBGLS</option>
                  <option value="SFEX">SFexpress</option>
                  <option value="SLX">SLX택배</option>
                  <option value="SSG">SSG</option>
                  <option value="TNT">TNT</option>
                  <option value="LOGISPARTNER">UFO로지스</option>
                  <option value="UPS">UPS</option>
                  <option value="USPS">USPS</option>
                  <option value="WIZWA">WIZWA</option>
                  <option value="YJSWORLD">YJS글로벌</option>
                  <option value="YJS">YJS글로벌(영국)</option>
                  <option value="YUNDA">YUNDAEXPRESS</option>
                  <option value="IPARCEL">i-parcel</option>
                  <option value="KY">건영복합물류</option>
                  <option value="KUNYOUNG">건영택배</option>
                  <option value="KDEXP">경동택배</option>
                  <option value="KIN">경인택배</option>
                  <option value="KORYO">고려택배</option>
                  <option value="KOKUSAI">국제익스프레스</option>
                  <option value="GOODTOLUCK">굿투럭</option>
                  <option value="NAEUN">나은물류</option>
                  <option value="NOGOK">노곡물류</option>
                  <option value="NONGHYUP">농협택배</option>
                  <option value="HANAROMART">농협하나로마트</option>
                  <option value="DAELIM">대림통운</option>
                  <option value="DAESIN">대신택배</option>
                  <option value="DAEWOON">대운글로벌</option>
                  <option value="THEBAO">더바오</option>
                  <option value="DODOFLEX">도도플렉스</option>
                  <option value="DONGGANG">동강물류</option>
                  <option value="DONGJIN">동진특송</option>
                  <option value="CHAINLOGIS">두발히어로당일택배</option>
                  <option value="DRABBIT">딜리래빗</option>
                  <option value="ONEDAYLOGIS">라스트마일</option>
                  <option value="LINEEXP">라인익스프레스</option>
                  <option value="ROADSUNEXPRESS">로드썬익스프레스</option>
                  <option value="LOGISVALLEY">로지스밸리</option>
                  <option value="LOTOS">로토스</option>
                  <option value="HLCGLOBAL">롯데글로벌로지스(국제택배)</option>
                  <option value="LOTTECHILSUNG">롯데칠성</option>
                  <option value="BABABA">바바바로지스</option>
                  <option value="BANPOOM">반품구조대</option>
                  <option value="VALEX">발렉스</option>
                  <option value="SHIPNERGY">배송하기좋은날</option>
                  <option value="PANTOS">범한판토스</option>
                  <option value="VROONG">부릉</option>
                  <option value="BRIDGE">브릿지로지스</option>
                  <option value="EKDP">삼다수가정배송</option>
                  <option value="SELC">삼성전자물류</option>
                  <option value="SWGEXP">성원글로벌</option>
                  <option value="SUNGHUN">성훈물류</option>
                  <option value="SEBANG">세방택배</option>
                  <option value="SMARTLOGIS">스마트로지스</option>
                  <option value="SPASYS1">스페이시스원</option>
                  <option value="CRLX">시알로지텍</option>
                  <option value="ANYTRACK">애니트랙</option>
                  <option value="ABOUTPET">어바웃펫</option>
                  <option value="ESTHER">에스더쉬핑</option>
                  <option value="VENDORPIA">에이스물류</option>
                  <option value="ACTCORE">에이씨티앤코아</option>
                  <option value="HKHOLDINGS">에이치케이홀딩스</option>
                  <option value="NTLPS">엔티엘피스</option>
                  <option value="LSLOGIS">엘로지스</option>
                  <option value="TODAYPICKUP">오늘의픽업</option>
                  <option value="RUSH">오늘회러쉬</option>
                  <option value="ALLTAKOREA">올타코리아</option>
                  <option value="YONGMA">용마로지스</option>
                  <option value="DCOMMERCE">우리동네커머스</option>
                  <option value="WEVILL">우리동네택배</option>
                  <option value="HONAM">우리택배</option>
                  <option value="WOORIHB">우리한방택배</option>
                  <option value="REGISTPOST">우편등기</option>
                  <option value="WOONGJI">웅지익스프레스</option>
                  <option value="WARPEX">워펙스</option>
                  <option value="WIHTYOU">위드유당일택배</option>
                  <option value="UFREIGHT">유프레이트코리아</option>
                  <option value="EUNHA">은하쉬핑</option>
                  <option value="ETOMARS">이투마스</option>
                  <option value="GENERALPOST">일반우편</option>
                  <option value="ILSHIN">일신모닝택배</option>
                  <option value="ILYANG">일양로지스</option>
                  <option value="GNETWORK">자이언트</option>
                  <option value="ZENIEL">제니엘시스템</option>
                  <option value="JLOGIST">제이로지스트</option>
                  <option value="GENIEGO">지니고당일특급</option>
                  <option value="GDAKOREA">지디에이코리아</option>
                  <option value="JIKGUMOON">직구문</option>
                  <option value="CHUNIL">천일택배</option>
                  <option value="CHOROC">초록마을</option>
                  <option value="COSHIP">캐나다쉬핑</option>
                  <option value="KJT">케이제이티</option>
                  <option value="QRUN">큐런</option>
                  <option value="CUBEFLOW">큐브플로우</option>
                  <option value="QXPRESS">큐익스프레스</option>
                  <option value="HEREWEGO">탱고앤고</option>
                  <option value="TODAY">투데이</option>
                  <option value="TEAMFRESH">팀프레시</option>
                  <option value="PATEK">파테크해운상공</option>
                  <option value="XINPATEK">파테크해운항공</option>
                  <option value="PANASIA">판월드로지스틱</option>
                  <option value="FOREVER">퍼레버택배</option>
                  <option value="PETFRIENDS">펫프렌즈</option>
                  <option value="PULMUONE">풀무원(로지스밸리)</option>
                  <option value="FREDIT">프레딧</option>
                  <option value="FRESHMATES">프레시메이트</option>
                  <option value="FRESH">프레시솔루션</option>
                  <option value="PINGPONG">핑퐁</option>
                  <option value="HOWSER">하우저</option>
                  <option value="HIVECITY">하이브시티</option>
                  <option value="HANDALUM">한달음택배</option>
                  <option value="HANDEX">한덱스</option>
                  <option value="HANSSEM">한샘</option>
                  <option value="HANWOORI">한우리물류</option>
                  <option value="HPL">한의사랑택배</option>
                  <option value="HDEXP">합동택배</option>
                  <option value="HERWUZUG">허우적</option>
                  <option value="GLOVIS">현대글로비스</option>
                  <option value="HOMEINNO">홈이노베이션로지스</option>
                  <option value="HOMEPLUS">홈플러스</option>
                  <option value="HOMEPICK">홈픽택배</option>
                  <option value="CARGOPLEASE">화물을부탁해</option>
                  <option value="CH1">기타택배</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                배송비 유형
              </td>
              <td style="padding: 10px">
                <select name="cost_type">
                  <option value="none">===선택===</option>
                  <option value="무료">무료</option>
                  <option value="조건부 무료">조건부 무료</option>
                  <option value="유료">유료</option>
                  <option value="수량별">수량별</option>
                  <option value="구간별">구간별</option>
                </select>
              </td>
            </tr>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                기본 배송료
              </td>
              <td style="padding: 10px">
                <input
                  type="number"
                  name="default_cost"
                  value="{{ shipping.default_cost }}"
                />
              </td>
            </tr>
            <tr>
              <td class="td_title" style="text-align: center; width: 20%">
                적용할 제품
              </td>
              <td style="padding: 10px">
                <label
                  ><input type="checkbox" name="color" value="blue" />
                  Blue</label
                >
                <label
                  ><input type="checkbox" name="color" value="red" /> Red</label
                >
              </td>
            </tr>
          </tbody>
        </table>
      </form>

      <div style="text-align: left">
        <a href="{% url 'shippingList' %}">> Home</a>
      </div>
    </div>
  </body>
</html>
